#hooriruby-root {
  /* width: 2vw;
  height: 100vh; */
  height: 4vh;
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 5px #0000009e;
  color: whitesmoke;
}

#hooriruby-root.hide-hooriruby {
  height: 0vh;
}

.hooli-textnode > ruby {
  background-color: palegreen;
}

.ejrti3 {
  background-color: cadetblue;
}

/* #hooriruby-floating-tool {
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: transparent;
  z-index: 2147483649;
  font-size: 13px;
} */
#hooriruby-floating-tool {
  z-index: 2147483649;
  position: absolute;
}

#hooriruby-floating-tool-button {
  font-size: 10px;
  background-color: antiquewhite;
  color: black;
  width: 65px;
  height: 30px;
}

#hooriruby-context-div {
  border: 1px black solid;
  display: inline-block;
}
